html,
body {
    background-color: #0F0F0F;
    font-family: 'font-family: "Inika", serif;';
}

body {
    box-sizing: border-box;
}

.magnifying {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: aqua;
}

div[sohaib]::-webkit-slider-runnable-track {
    background: #ccc;
    /* Light gray track */
    border-radius: 4px;
    height: 8px;
}



.VideoPlayer {
    display: grid;
    grid-template-columns: 1fr auto;
}

.comments-section-bottom {
    display: none;
}

@media (max-width:1170px) {
    .VideoPlayer {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .comments-section {
        display: none;
    }

    .comments-section-bottom {
        display: block;
    }

    .player {
        margin: 0;
        border-radius: 0;
    }

    .title,
    .VideoCreatorDetails {
        margin-inline: 10px;
        flex-wrap: wrap;
    }


}

@media (max-width:785px) {
    .nav-input {
        margin: 0px;
        margin-left: 120px;
    }

    .magnifying {
        display: none;
    }
}

@media (max-width:680px) {
    .nav-input {
        margin: 0px;
        display: none;
    }

    .magnifying {
        display: block;
    }

    .navbar {
        margin: 0px;
    }

    .logo-img {
        max-width: 50px;
    }

    .nav-btn button {
        padding: 5px;
        font-size: 10px;
    }

}

@media screen {}